body {
    background: #fff;
    color: #221f1f;
    font-family: Netflix Sans,Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
}

a {
    color: red;
}